
.idea/

Свертки и сверточные слои/Seminar/.ipynb_checkpoints/

Введение в глубинное обучение. Полносвязные слои/Seminar/.ipynb_checkpoints/

Домашнее задание 1/.ipynb_checkpoints/

Домашнее задание 1/__pycache__/
